<div class="carousel slide" data-ride="carousel" id="featured">
    <div class="carousel-inner fullheight">
        <div class="item active">
            <img src="~/Content/Images/pic1.jpeg" alt="City Photo">
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h2>
                    <span>Gateaway to digital public services</span>
                    </h2>
                    <br>
                    <h3>
                    <span>Just use it in your own city.</span>
                    </h3>
                    <br>
                    <a class="btn btn-theme btn-sm btn-min-block" href="#mission">Learn more &raquo;</a>
                </div>
            </div>
                </div>
        <div class="item">
            <img src="~/Content/Images/pic2.jpeg" alt="Mission">


            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h2>
                        <span>Gateaway to digital public services</span>
                    </h2>
                    <br>
                    <h3>
                        <span>Just use it in your own city.</span>
                    </h3>
                    <br>
                    <a class="btn btn-theme btn-sm btn-min-block" href="#mission">Learn more &raquo;</a>
                </div>
            </div>
        </div>
     
        <div class="item">
            <img src="~/Content/Images/pic3.jpeg" alt="Vaccinations">

            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h2>
                        <span>Gateaway to digital public services</span>
                    </h2>
                    <br>
                    <h3>
                        <span>Just use it in your own city.</span>
                    </h3>
                    <br>
                    <a class="btn btn-theme btn-sm btn-min-block" href="#mission">Learn more &raquo;</a>
                </div>
            </div>
        </div>
   

            </div>
            <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#featured" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
