@{
    ViewBag.Title = "eGOV";
}
<div class="main">
     <div class="page" id="mission">
           <div class="content container">
            <h2>What is it?</h2>
            <p class="lead">eGovernment can be defined as the employment of the Internet and the world-wide-web for delivering government information and services to the citizens. The portal presents services from national and local government agencies. You can also find information about how public authorities communicate digitally with citizens.</p>
          </div>
    </div><!-- content container -->
    <div class="page" id="services">
        <div class="content container">
            <h2>Services</h2>
            <div class="row">
                <article class="service col-md-4 col-sm-6 col-xs-12">
                    <i class="fa fa-building  fa-5x" aria-hidden="true" style="color:#DEB887"></i>
                    <h3>Improve your living</h3>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="https://www.zmente.to/">Learn more &raquo;</a></p>
                </article>
                <article class="service col-md-4 col-sm-6 col-xs-12">
                    <i class="fa fa-tree  fa-5x" aria-hidden="true" style="color:#8FBC8F"></i>
                    <h3>Imrove your environment</h3>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default" href="https://www.zmente.to/">Learn more &raquo;</a></p>
                </article>
                <article class="service col-md-4 col-sm-6 col-xs-12">
                    <i class="fa fa-train  fa-5x" aria-hidden="true" style="color:#FF6347"></i>
                    <h3>Improve your transport</h3>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-default" href="https://www.zmente.to/">Learn more &raquo;</a></p>
                </article>
            </div><!-- content container -->
        </div><!-- services page -->
    </div>

    <div class="page" id="testimonials">
        <h2>Choose Place</h2>
        <form class="form-inline" role="form">
            <div class="form-group">
               
                <input type="text" class="form-control" placeholder="Place">
            </div>
        </form>
        <p>
            
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1y6Rbfhw9ZH5vga8KV7hBrWnco78"></iframe>
                </div>

        </p>

       
</div>
</div>